@media screen and (max-width: 1120px) {

  hmtl,
  body {
    zoom: 44%;
  }

  .biografia-container img {
    width: 40%;
  }

  .slide img {
    width: 100%;
    z-index: 1;
  }

  .carousel-inner1 {
    display: none;
  }

  .carousel-control-prev1 {
    display: none;
  }

  .carousel-control-next1 {
    display: none;
  }


  #curriculo {
    margin-top: 100px;
  }


}


@media screen and (max-width: 885px) {
  .fivicon h1 {
    font-size: 45px;
  }

  .fivicon img {
    display: none;
  }

}

@media screen and (max-width: 768px) {

  html,
  body {
    zoom: 69%;
  }

  .geralcont {
    margin: 5%;
    margin-top: 20%;
  }


  .pracima {
    bottom: 400px;
    right: 50px;
    width: 100px;
    height: 100px;
  }

  .pracima img {
    width: 100px;
    height: 100px;
    bottom: 1px;
  }

  .nav-list a {
    margin: 6px;
    display: block;
    width: 50vw;
  }

  #contato a {
    font-size: 40px;
  }


  .nav-list {
    padding-top: 0;
    padding-bottom: 0;
    display: block;
    width: 50vw;
    transition: 1s;
  }

  .nav-list a:hover::after {
    width: 0px;
  }

  .fivicon h1 {
    font-size: 0px;
    display: none;
  }


  .fivicon {
    margin: 0;
    padding: 0;

  }

  .fivicon img {
    width: 80px;
    height: 80px;
    left: 10px;
    display: flex;
  }

  .container {
    margin: 0%;
  }

  .redes-sociais svg {
    width: 80px;
    transition: 1s;
    margin-top: -60%;
    transform: none;
    display: block;
  }

  .redes-sociais svg:hover {
    transform: scale(1.0);
  }

  .instagram-color:hover {
    filter: none;
    transform: none;
  }

  .linkedin-color:hover {
    filter: none;
    transform: none;
  }

  .github-color:hover {
    filter: none;
    transform: none;
  }



  .espaço {
    display: flex;
    margin-right: 100px;
  }

  header {
    margin-top: 10%;
  }

  #imagem img {
    width: 250px;
    height: 250px;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    display: flex;
  }


  .card-bio {
    border: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    display: block;
    inset: 0px;
    padding-top: 20px;
    padding-bottom: 50px;
    border-bottom: 1px solid rgb(129, 129, 129);
    border-radius: 12px;
    max-width: 100%;
    margin-top: 20%
  }

  #imagem li {
    margin: 30px;
  }

  #imagem {
    margin-right: 150px;
    position: relative;
  }

  /* tela normal */
  .carousel-control-prev {
    display: none;
  }

  .carousel-control-next {
    display: none;
  }


  .carousel-inner {
    display: none;

  }

  /* -------------- */
  .carousel-inner1 {
    display: block;
    box-sizing: border-box;
    inset: 0px;

  }

  .carousel-inner1 img {
    width: 800px;
    height: 1200px;
    max-width: 100%;
    margin-top: 50px;
    border-radius: 10px;
  }


  .nav-list button {
    display: none;
  }



  .nav-list {
    padding-top: 100px;
  }

  .nav-list a {
    display: none;

  }


  .fivicon {
    left: 54px;
    position: absolute;
  }

  #espaço {
    margin-left: 30px;
  }

  .redes-sociais {
    margin-right: 160px;
    position: absolute;
    max-width: 100%;
  }

  .carousel-control-prev1 {
    display: none;
    margin: auto;

  }

  .carousel-control-next1 {
    display: none;
  }


  .biografia-container {
    margin-top: 7%;
    max-width: 100%;
    width: 100%;
    display: flex;
  }


  .card-bio>p {
    font-size: 40px;
    font-weight: 600;
  }

  .trilho {
    display: none;
  }

  .Container-perfil {
    flex-direction: column;
  }

  .trilho1 {
    display: flex;
    max-width: 19%;
    width: 9%;
    right: 100px;
    position: fixed;

  }

  .indicador1 {
    position: relative;
  }


  .trilho1.white .indicador1 {
    right: 0px;
  }

  .nav-item {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
    position: absolute;
    left: 150px;
  }

  .mobile-menu-icon button {
    background: transparent;
    border: none;
    cursor: pointer;
    float: right;
    right: 100px;
    margin-top: 15px;
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;

  }

  .mobile-menu .nav-item {
    padding-top: 20%;
    display: block;
    text-align: center;

  }

  .nav-item:hover {
    transform: none;
  }

  .mobile-menu li {
    list-style-type: none;

  }

  .mobile-menu {
    background-color: rgb(43, 41, 41);
    padding-bottom: 15%;
    padding-top: 60px;

  }

  .nav-list {
    margin-right: 155px;
  }

  .nav-list a {
    font-size: 40px;
    height: 200px;

  }


  .open {
    display: block;
  }

  .icon {
    width: 60px;
    height: 60px;
  }

  .icon:hover {
    transform: scale(none);
  }

  .navcontainer {
    align-items: normal;
  }


  #right {
    display: none;
    width: 0;
    font-size: 0;
  }

  #left {
    display: none;
    width: 0;
    font-size: 0;
  }

  .carrosel-curso img {
    height: 40%;
    width: calc(100% / 1);
  }

  .wrapper .carrosel-curso {
    margin-top: 0;
  }

  .cursos {
    flex-direction: column;
    margin-top: 30%;
  }

  .cursos h1 {
    display: flex;
    text-align: center;
  }

  .wrapper .carrosel-curso {
    margin-top: 0;
  }

  .carousel-item img {
    max-width: 100%;
    width: 100%;
  }


  .title-hab h1 {
    margin-top: 40%;
  }

  section {
    width: 100%;
  }

  #curriculo a {
    font-size: 50px;
  }
}

@media screen and (max-width: 540px) {

  html,
  body {
    zoom: 58%;
  }


  .nav-list {
    padding-top: 150px;
  }

  .nav-list a {
    margin: 36px;
    display: block;
    width: 50vw;
    font-size: 36px;

  }


  .redes-sociais svg {
    width: 120px;
    transition: 1s;
    margin-top: -60%;
    transform: none;
  }


  .redes-sociais {
    margin-top: 40px;
    padding: 0;

  }

  .fivicon img {
    margin-top: 30px;
    width: 80px;
  }

  #contato a {
    font-size: 46px;
  }

  .mobile-menu-icon {
    margin-top: 5px;
  }

  .mobile-menu-icon img {
    width: 90px;
    height: 90px;
  }
}

@media screen and (max-width: 520px) {

  html,
  body {
    zoom: 56%;
  }

  .fivicon img {
    margin-top: 30px;
    width: 80px;
  }
}

@media screen and (max-width: 400px) {

  html,
  body {
    zoom: 53%;
  }

  .nav-list button {
    display: none;
  }

  .nav-list a {
    display: none;
  }



  #contato a {
    font-size: 40px;
  }

  .fivicon img {
    margin-top: 30px;
    width: 80px;
  }


}

@media screen and (max-width: 360px) {

  html,
  body {
    zoom: 50%;

  }

  .whatsapp-icon {

    bottom: 174px;
    right: 10px;
    z-index: 3;
    transition: 2s;

  }

  .whatsapp-icon svg {
    width: 180px;
    height: 180px;

  }

  .fivicon img {
    margin-top: 30px;
    width: 80px;
  }
}

@media screen and (max-width: 324px) {

  html,
  body {
    zoom: 48%;

  }


  #contato a {
    font-size: 45px;
  }
}


@media screen and (max-width: 290px) {

  html,
  body {
    zoom: 42%;
  }

  .whatsapp-icon {

    bottom: 174px;
    right: 10px;
    z-index: 3;
    transition: 2s;

  }

  .whatsapp-icon svg {
    width: 180px;
    height: 180px;
  }

  .card-bio {
    position: relative;
  }

  #contato a {
    font-size: 45px;
  }


}