body {
  transition: 1s;
}

* {
  transition: 500ms;
}

.trilho {
  width: 150px;
  height: 70px;
  background-color: rgb(85, 83, 83);
  border-radius: 150px;
  position: relative;
  cursor: pointer;
}

.trilho .indicador {
  width: 70px;
  height: 70px;
  background-color: black;
  border-radius: 50%;
  transform: scale(0.9);
  position: absolute;
  left: 0;
  transition: 0.5s;
}

.trilho.white {
  background-color: #c0bebe;
}

.trilho.white .indicador {
  left: 80px;
  background-color: #000000;
}

.trilho {
  margin-left: 150px;
  max-width: 6%;
}

/* celular version */

.trilho1 {
  width: 60px;
  height: 60px;
  background-color: rgb(85, 83, 83);
  border-radius: 150px;
  position: relative;
  cursor: pointer;
  margin-top: 20px;
}

.trilho1 .indicador1 {
  width: 60px;
  height: 60px;
  background-color: black;
  border-radius: 50%;
  transform: scale(0.9);
  position: absolute;
  left: 0px;

  transition: 0.5s;
}

.trilho1.white {
  background-color: #c0bebe;
}

.trilho1.white .indicador1 {
  background-color: #000000;
  left: 60px;
}

.trilho1 {
  max-width: 9%;
}

@media screen and (max-width: 540px) {
  .trilho1 {
    width: 60px;
    height: 60px;
    background-color: rgb(85, 83, 83);
    border-radius: 150px;
    position: relative;
    cursor: pointer;
    margin-top: 35px;
  }
}

/* ---------------------------------------------------------------------- */
body.white {
  h2,
  p,
  a {
    color: #000000;
  }

  #curriculo a {
    background-color: rgb(255, 255, 255);
  }

  .navcontainer {
    background-color: rgb(255, 255, 255);
  }

  .txt-animado {
    background-color: rgb(238, 231, 231);
    border-bottom: 2px solid rgb(3, 3, 3);
    box-shadow: 0px 0px 15px 0px rgb(255, 255, 255);
  }

  .span-txt::after {
    background-color: rgb(238, 231, 231);
    animation: cursor 0.8s infinite, digita 30s steps(15) infinite;
  }

  .card-bio {
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid rgb(3, 3, 3);
    box-shadow: 0px 0px 15px 0px rgb(199, 197, 197);
  }

  #contato p {
    color: black;
  }

  #contato a:hover {
    color: rgb(25, 255, 4);
  }

  .Container-perfil a {
    color: rgb(255, 255, 255);
  }

  .mobile-menu {
    background-color: rgb(255, 255, 255);
  }

  .cursos {
    background-color: rgb(238, 231, 231);
    box-shadow: 0px 0px 15px 0px rgb(199, 197, 197);
    border-bottom: 2px solid rgb(3, 3, 3);
  }

  section p {
    color: white;
  }

  .fivicon h1 {
    font-size: 50px;
    font-weight: 900;
    background: -webkit-linear-gradient(
      left,
      rgb(0, 0, 0) 52.5%,
      rgb(5, 255, 5) 50%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
  }

  @media screen and (max-width: 768px) {
    .fivicon h1 {
      font-size: 0px;
      background: none;
      display: none;
    }
  }
}
