@media screen and (max-width: 1120px) {

  hmtl,
  body {
    zoom: 45%;
  }

  .biografia-container img {
    width: 40%;
  }

  .slide img {
    width: 100%;
    z-index: 1;
  }

  .carousel-inner1 {
    display: none;
  }

  .carousel-control-prev1 {
    display: none;
  }

  .carousel-control-next1 {
    display: none;
  }

}

@media screen and (max-width: 768px) {

  html,
  body {
    zoom: 65%;
  }

  .navbar a {
    font-size: 35px;
    font-weight: 500;
    margin: 6px;
    display: block;
    width: 50vw;
  }

  .navbar {
    padding-top: 0;
    padding-bottom: 0;
    display: block;
    width: 50vw;
    transition: 1s;
  }

  .navbar a:hover::after {
    width: 0px;
  }

  .navbar li {
    margin-top: 10px;
    margin-left: 100px;
  }

  .fivicon {
    margin: 0;
    padding: 0;

  }

  .fivicon img {
    width: 80px;
    height: 80px;
    left: 10px;
  }

  .container {
    margin: 0%;
  }

  .redes-sociais img {
    width: 50px;
    transition: 1s;
    margin: 10%;
  }

  .instagramcolor:hover {
    filter: none;
    transform: none;
  }

  .youtubecolor:hover {
    filter: none;
    transform: none;
  }

  .githubcolor:hover {
    filter: none;
    transform: none;
  }

  .redes-sociais {
    margin-left: 170px;
    position: fixed;
  }

  .espaço {
    display: flex;
    margin-left: 100px;
  }

  header {
    margin-top: 15%;
  }

  #imagem img {
    width: 250px;
    height: 250px;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    display: flex;
  }


  .card-bio {
    border: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 1000px;
    position: relative;
    display: block;
    margin: auto;
    inset: 0px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(129, 129, 129);
    border-radius: 12px;
  }

  #imagem li {
    margin: 30px;
  }

  #imagem {
    margin-right: 150px;
    position: relative;
  }

  /* tela normal */
  .carousel-control-prev {
    display: none;
  }

  .carousel-control-next {
    display: none;
  }


  .carousel-inner {
    display: none;

  }

  /* -------------- */
  .carousel-inner1 {
    display: block;
    box-sizing: border-box;
    inset: 0px;

  }

  .carousel-inner1 img {
    width: 1000px;
    height: 800px;
    max-width: 100%;


  }


  .navbar button {
    display: none;
  }

  .navbar {
    padding-top: 100px;
  }

  .navbar a {
    display: none;

  }

  .dropdown {
    display: flex;
    border: none;
    background: none;
    left: 100px;
  }


  .fivicon {
    left: 54px;
    position: absolute;
  }

  #espaço {
    margin-left: 50px;
  }

  .redes-sociais {
    margin-right: 160px;
    position: absolute;
  }

  .carousel-control-prev1 {
    display: none;
    margin: auto;

  }

  .carousel-control-next1 {
    display: none;
  }

  .dropdown-menu li a {
    background-color: rgb(43, 41, 41);
    padding-top: 30px;
    padding-bottom: 80px;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
  }




  .dropdown-item:hover {
    background-color: rgb(77, 73, 73);

  }


  .dropdown-menu a {
    transform: scale(1.3);

  }



  .dropdown-menu a {
    color: white;
    text-align: center;
  }

  .dropdown-menu {
    font-size: 60px;
    border-radius: 10px;
    position: relative;
    background-color: rgb(43, 41, 41);


  }

  .biografia-container {
    position: relative;
    margin-top: 7%;
    max-width: 100%;
    display: flex;
    margin-left: 15%;
    margin-right: 10%;

  }


  .card-bio>p {
    font-size: 40px;
    font-weight: 600;
  }

  .trilho {
    display: none;
  }

  .Container-perfil {
    flex-direction: column;
  }

  .trilho1 {
    display: flex;
    max-width: 19%;
    width: 10%;
    left: 270px;
    position: fixed;

  }

  .indicador1 {
    position: relative;
  }


  .trilho1.white .indicador1 {
    left: 90px;
  }

}

@media screen and (max-width: 540px) {


  .trilho1 {
    display: flex;
    max-width: 19%;
    width: 12%;
    left: 170px;
    position: fixed;

  }


  .trilho1.white .indicador1 {
    left: 80px;
  }
}

@media screen and (max-width: 400px) {

  html,
  body {
    zoom: 50%;
  }

  .navbar button {
    display: none;
  }

  .navbar a {
    display: none;
  }


  .trilho1 {
    display: flex;
    max-width: 19%;
    width: 10%;
    left: 170px;
    position: fixed;

  }


  .trilho1.white .indicador1 {
    left: 70px;
  }

}

@media screen and (max-width: 330px) {

  html,
  body {
    zoom: 52%;
    s
  }

  .whatsapp-icon {

    bottom: 174px;
    right: 10px;
    z-index: 3;
    transition: 2s;

  }

  .whatsapp-icon svg {
    width: 180px;
    height: 180px;

  }


  .trilho1 {
    display: flex;
    max-width: 19%;
    width: 10%;
    left: 170px;
    position: fixed;

  }


  .dropdown-menu li a {
    background-color: rgb(43, 41, 41);
    padding-top: 30px;
    padding-bottom: 80px;
    padding-left: 440px;
    padding-right: 520px;
  }
}

@media screen and (max-width: 260px) {

  html,
  body {
    zoom: 45%;
  }

  .whatsapp-icon {

    bottom: 174px;
    right: 10px;
    z-index: 3;
    transition: 2s;

  }

  .whatsapp-icon svg {
    width: 180px;
    height: 180px;
  }

  .card-bio {
    left: 45px;
    position: relative;
  }

  .trilho1.white .indicador1 {
    left: 50px;
  }
}